__MACOSX
*.pyc
.ipynb_checkpoints
.DS_Store
course-2/kc_house_data.gl/
course-2/kc_house_data_small.gl/
course-2/wk3_kc_house_set_1_data.csv
course-2/wk3_kc_house_set_2_data.csv
course-2/wk3_kc_house_set_3_data.csv
course-2/wk3_kc_house_set_4_data.csv
course-3/amazon_baby.gl/
course-3/amazon_baby_subset.gl/
course-3/lending-club-data.gl/
course-3/module-2-model-1/
course-3/module-2-model-2/
course-3/module-5-decision-tree-assignment-2.json
course-3/module-6-my-decision-tree-new.json
course-3/module-6-my-decision-tree-old.json
course-3/module-8-1-10/
course-3/module-8-1-100/
course-3/module-8-1-200/
course-3/module-8-1-50/
course-3/module-8-1-500/
course-3/module-9-model-1/
machine-learning-specialization.iml
.idea
